# Introduction
This kernel has been created by the [Information Systems Lab](http://islab.uom.gr) to introduce students of the [University of Macedonia](http://www.uom.gr/index.php?tmima=2&categorymenu=2), Greece to Machine Learning & Data Science.

## The Instacart competition
Instacart is an American company that operates as a same-day grocery delivery service. Customers select groceries through a web application from various retailers and delivered by a personal shopper. Instacart's service is mainly provided through a smartphone app, available on iOS and Android platforms, apart from its website.

In 2017 Instacart organised a Kaggle competition and provided to the community a sample dataset of over 3 million grocery orders from more than 200,000 Instacart users. The orders include 32 million basket items and 50,000 unique products. The objective of the competition was participants to **predict which previously purchased products will be in a user‚Äôs next order**.

## Objective
The objective of this Kernel is to introduce students to predictive business analytics with Python through the Instacart case. 

By the time you finish this example, you will be able to:
* Describe the steps of creating a predictive analytics model
* Use Python and Pandas package to manipulate data
* Use Python and Pandas package to create, combine, and delete DataFrames
* Use Logistic Regression to create a predictive model
* Apply the predictive model in order to make a prediction
* Create a submission file for the competition of Instacart

## Problem definition
The data that Instacart opened up include orders of 200,000 Instacart users with each user having between 4 and 100 orders. Instacart indicates each order in the data as prior, train or test. Prior orders describe the **past behaviour** of a user while train and test orders regard the **future behaviour that we need to predict**. 

As a result, we want to predict which previously purchased products (prior orders) will be in a user‚Äôs next order (train and test orders). 

For the train orders Instacart reveals the results (i.e., the ordered products) while for the test orders we do not have this piece of information. Moreover, the future order of each user can be either train or test meaning that each user will be either a train or a test user. 

The setting of the Instacart problem is described in the figure below (orders with yellow color denotes future orders of a user). 

<img src="https://i.imgur.com/S0Miw3m.png" width="350">

Each user has purchased various products during their prior orders. Moreover, for each user we know the order_id of their future order. The goal is to predict which of these products will be in a user's future order. 

This is a **classification problem** because we need to predict whether each pair of user and product is a reorder or not. This is indicated by the value of the reordered variable, i.e. reordered=1 or reordered=0 (see figure below). 

<img src="https://i.imgur.com/SxK2gsR.png" width="350">

As a result we need to come up and calculate various **predictor variables (X)** that will describe the characteristics of a product and the behaviour of a user regarding one or multiple products. We will do so by analysing the prior orders of the dataset. We will then use the train users to create a predictive model and the test users to make our actual prediction. As a result we create a table as the following one and we train an algorithm based on predictor variables (X) and response variable (Y).

<img src="https://i.imgur.com/Yb1CKAF.png" width="600">

## Method
Our method includes the following steps:
1. <b>Import and reshape data</b>: This step includes loading CSV files into pandas DataFrames, tranform character variables to categorical variables, and create a supportive table.
2. <b>Create predictor variables</b>: This step includes identifying and calculating predictor variables (aka features) from the initial datasets provided by Instacart. 
3. <b>Create train and test DataFrames</b>: In this step we create two distinct pandas DataFrames that will be used in the creation and the use of the predictive model.
4. <b>Create predictive model (fit)</b>: In this step we employ Logistic Regression to create the predictive model through the train dataset.
5. <b>Apply predictive model (predict)</b>: This step includes applying the model to predict the 'reordered' variable for the test dataset.
6. <b>Create submission file</b>: In this final step we create the submission file with our predictions for Instacart's competition.
7. <b>Get F1 score</b>: In this step we submit the produced and file and get the F1 score describing the accuracy of our prediction model.

# 1. Import and Reshape Data 
First we load the necessary Python packages and then we import the CSV files that were provided by Instacart.

## 1.1 Import the required packages
The garbage collector (package gc), attempts to reclaim garbage, or memory occupied by objects (e.g., DataFrames) that are no longer in use by Python ([ref1](https://www.techopedia.com/definition/1083/garbage-collection-gc-general-programming), [ref2](https://en.wikipedia.org/wiki/Garbage_collection_(computer_science)). This package will eliminate our risk to exceed the 16GB threshold of available RAM that Kaggle offers.

The **"as"** reserved word is to define an alias to the package. The alias help us to call easier a package in our code.

In [9]:
# For data manipulation
import pandas as pd              

# Garbage Collector to free up memory
import gc                         
gc.enable()                       # Activate

## 1.2 Load data from the CSV files
Instacart provides 6 CSV files, which we have to load into Python. Towards this end, we use the .read_csv() function, which is included in the Pandas package. Reading in data with the .read_csv( ) function returns a DataFrame.

In [10]:
orders = pd.read_csv('../input/instacart-market-basket-analysis/orders.csv')
order_products_train = pd.read_csv('../input/instacart-market-basket-analysis/order_products__train.csv')
order_products_prior = pd.read_csv('../input/instacart-market-basket-analysis/order_products__prior.csv')
products = pd.read_csv('../input/instacart-market-basket-analysis/products.csv')
aisles = pd.read_csv('../input/instacart-market-basket-analysis/aisles.csv')
departments = pd.read_csv('../input/instacart-market-basket-analysis/departments.csv')

This step results in the following DataFrames:
* <b>orders</b>: This table includes all orders, namely prior, train, and test. It has single primary key (<b>order_id</b>).
* <b>order_products_train</b>: This table includes training orders. It has a composite primary key (<b>order_id and product_id</b>) and indicates whether a product in an order is a reorder or not (through the reordered variable).
* <b>order_products_prior </b>: This table includes prior orders. It has a composite primary key (<b>order_id and product_id</b>) and indicates whether a product in an order is a reorder or not (through the reordered variable).
* <b>products</b>: This table includes all products. It has a single primary key (<b>product_id</b>)
* <b>aisles</b>: This table includes all aisles. It has a single primary key (<b>aisle_id</b>)
* <b>departments</b>: This table includes all departments. It has a single primary key (<b>department_id</b>)

If you want to reduce the execution time of this Kernel you can use the following piece of code by uncomment it. This will trim the orders DataFrame and will keep a 10% random sample of the users. You can use this for experimentation.

In [11]:
'''
#### Remove triple quotes to trim your dataset and experiment with your data
### COMMANDS FOR CODING TESTING - Get 10% of users 
orders = orders.loc[orders.user_id.isin(orders.user_id.drop_duplicates().sample(frac=0.1, random_state=25))] 
'''

'\n#### Remove triple quotes to trim your dataset and experiment with your data\n### COMMANDS FOR CODING TESTING - Get 10% of users \norders = orders.loc[orders.user_id.isin(orders.user_id.drop_duplicates().sample(frac=0.1, random_state=25))] \n'

We now use the .head( ) method in order to visualise the first 10 rows of these tables. Click the Output button below to see the tables.

In [12]:
orders.head()

   order_id           ...            days_since_prior_order
0   2539329           ...                               NaN
1   2398795           ...                              15.0
2    473747           ...                              21.0
3   2254736           ...                              29.0
4    431534           ...                              28.0

[5 rows x 7 columns]

In [13]:
order_products_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [14]:
order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [15]:
products.head()

   product_id      ...      department_id
0           1      ...                 19
1           2      ...                 13
2           3      ...                  7
3           4      ...                  1
4           5      ...                 13

[5 rows x 4 columns]

In [16]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [17]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

## 1.3 Reshape data
We transform the data in order to facilitate their further analysis. First, we convert character variables into categories so we can use them in the creation of the model. In Python, a categorical variable is called category and has a fixed number of different values.

In [18]:
# We convert character variables into category. 
# In Python, a categorical variable is called category and has a fixed number of different values
aisles['aisle'] = aisles['aisle'].astype('category')
departments['department'] = departments['department'].astype('category')
orders['eval_set'] = orders['eval_set'].astype('category')
products['product_name'] = products['product_name'].astype('category')

## 1.4 Create a DataFrame with the orders and the products that have been purchased on prior orders (op)
We create a new DataFrame, named <b>op</b> which combines (merges) the DataFrames <b>orders</b> and <b>order_products_prior</b>. Bear in mind that <b>order_products_prior</b> DataFrame includes only prior orders, so the new DataFrame <b>op</b>  will contain only these observations as well. Towards this end, we use pandas' merge function with how='inner' argument, which returns records that have matching values in both DataFrames. <img src="https://i.imgur.com/zEK7FpY.jpg" width="400">

In [19]:
#Merge the orders DF with order_products_prior by their order_id, keep only these rows with order_id that they are appear on both DFs
op = orders.merge(order_products_prior, on='order_id', how='inner')
op.head()

   order_id  user_id    ...     add_to_cart_order  reordered
0   2539329        1    ...                     1          0
1   2539329        1    ...                     2          0
2   2539329        1    ...                     3          0
3   2539329        1    ...                     4          0
4   2539329        1    ...                     5          0

[5 rows x 10 columns]

The table contains for all the customers **(user_id)**: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ‚û°Ô∏é the orders **(order_id)** that they have placed accompanied with: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ‚û°Ô∏é the products **(product_id)** that have been bought in each order

# 2. Create Predictor Variables
We are now ready to identify and calculate predictor variables based on the provided data. We can create various types of predictors such as:
* <b>User predictors</b> describing the behavior of a user e.g. total number of orders of a user.
* <b>Product predictors</b> describing characteristics of a product e.g. total number of times a product has been purchased.
* <b>User & product predictors</b> describing the behavior of a user towards a specific product e.g. total times a user ordered a specific product.

## 2.1 Create user predictors


### 2.1.1 Number of orders per customer üìöüìù
We calculate the total number of placed orders per customer. We create a **user** DataFrame to store the results.

In [20]:
## First approach in one step:
# Create distinct groups for each user, identify the highest order number in each group, save the new column to a DataFrame
user = op.groupby('user_id')['order_number'].max().to_frame('user_t_orders') #
user.head()

## Second approach in two steps: 
#1. Save the result as DataFrame with Double brackets --> [[ ]] 
#user = op.groupby('user_id')[['order_number']].max()
#2. Rename the label of the column
#user.columns = ['user_t_orders']
#user.head()

         user_t_orders
user_id
1                   10
2                   14
3                   12
4                    5
5                    4

In [21]:
# Reset the index of the DF so to bring user_id from index to column (pre-requisite for step 2.4)
user = user.reset_index()
user.head()

   user_id  user_t_orders
0        1             10
1        2             14
2        3             12
3        4              5
4        5              4

## 2.2 Create product predictors
 
### 2.2.1 Number of purchases for each product üìöüìù
We calculate the total number of purchases for each product (from all customers). We create a **prd** DataFrame to store the results.

In [22]:
# Create distinct groups for each product, count the orders, save the result for each product to a new DataFrame  
prd = op.groupby('product_id')['order_id'].count().to_frame('prd_t_purchases') #
prd.head()

            prd_t_purchases
product_id
1                      1852
2                        90
3                       277
4                       329
5                        15

In [23]:
# Reset the index of the DF so to bring product_id rom index to column (pre-requisite for step 2.4)
prd = prd.reset_index()
prd.head()

   product_id  prd_t_purchases
0           1             1852
1           2               90
2           3              277
3           4              329
4           5               15

## 2.3 Create user-product predictors


### 2.3.1 How many times a user bought a product üìöüìù
We create different groups that contain all the rows for each combination of user and product. Then with the aggregation function .count( ) we get how many times each user bought a product. We save the results on new **uxp** DataFrame.

In [24]:
# Create distinct groups for each combination of user and product, count orders, save the result for each user X product to a new DataFrame 
uxp = op.groupby(['user_id', 'product_id'])['order_id'].count().to_frame('uxp_t_bought') #
uxp.head()

                    uxp_t_bought
user_id product_id
1       196                   10
        10258                  9
        10326                  1
        12427                 10
        13032                  3

In [25]:
# Reset the index of the DF so to bring user_id & product_id rom indices to columns (pre-requisite for step 2.4)
uxp = uxp.reset_index()
uxp.head()

   user_id  product_id  uxp_t_bought
0        1         196            10
1        1       10258             9
2        1       10326             1
3        1       12427            10
4        1       13032             3

## 2.4 Merge all features
We now merge the DataFrames with the three types of predictors that we have created (i.e., for the users, the products and the combinations of users and products).

We will start from the **uxp** DataFrame and we will add the user and prd DataFrames. We do so because we want our final DataFrame (which will be called **data**) to have the following structure: 

<img style="float: left;" src="https://i.imgur.com/mI5BbFE.jpg" >

### 2.4.1 Merge uxp with user DataFrame
Here we select to perform a left join of uxp with user DataFrame based on matching key "user_id"

<img src="https://i.imgur.com/WlI84Ud.jpg" width="400">

Left join, ensures that the new DataFrame will have:
- all the observations of the uxp (combination of user and products) DataFrame 
- all the **matching** observations of user DataFrame with uxp based on matching key **"user_id"**

The new DataFrame as we have already mentioned, will be called **data**.

In [26]:
#Merge uxp features with the user features
#Store the results on a new DataFrame
data = uxp.merge(user, on='user_id', how='left')
data.head()

   user_id  product_id  uxp_t_bought  user_t_orders
0        1         196            10             10
1        1       10258             9             10
2        1       10326             1             10
3        1       12427            10             10
4        1       13032             3             10

### 2.4.1 Merge data with prd DataFrame üìöüìù
In this step we continue with our new DataFrame **data** and we perform a left join with prd DataFrame. The matching key here is the "product_id".
<img src="https://i.imgur.com/Iak6nIz.jpg" width="400">

Left join, ensures that the new DataFrame will have:
- all the observations of the data (features of userXproducts and users) DataFrame 
- all the **matching** observations of prd DataFrame with data based on matching key **"product_id"**

In [27]:
#Merge uxp & user features (the new DataFrame) with prd features
data = data.merge(prd, on='product_id', how='left') #
data.head()

   user_id  product_id       ...         user_t_orders  prd_t_purchases
0        1         196       ...                    10            35791
1        1       10258       ...                    10             1946
2        1       10326       ...                    10             5526
3        1       12427       ...                    10             6476
4        1       13032       ...                    10             3751

[5 rows x 5 columns]

### 2.4.2 Delete previous DataFrames

The information from the DataFrames that we have created to store our features (op, user, prd, uxp) is now stored on **data**. 

As we won't use them anymore, we now delete them.

In [28]:
del op, user, prd, uxp
gc.collect()

165

# 3. Create train and test DataFrames
## 3.1 Include information about the last order of each user

The **data** DataFrame that we have created on the previous chapter (2.4) should include two more columns which define the type of user (train or test) and the order_id of the future order.
This information can be found on the initial orders DataFrame which was provided by Instacart: 

<img style="float: left;" src="https://i.imgur.com/jbatzRY.jpg" >


Towards this end:
1. We select the **orders** DataFrame to keep only the future orders (labeled as "train" & "test). 
2. Keep only the columns of our desire ['eval_set', 'order_id'] <span style="color:red">**AND** </span> 'user_id' as is the matching key with our **data** DataFrame
2. Merge **data** DataFrame with the information for the future order of each customer using as matching key the 'user_id'

To filter and select the columns of our desire on orders (the 2 first steps) there are numerous approaches:

In [29]:
## First approach:
# In two steps keep only the future orders from all customers: train & test 
orders_future = orders[((orders.eval_set=='train') | (orders.eval_set=='test'))]
orders_future = orders_future[ ['user_id', 'eval_set', 'order_id'] ]
orders_future.head(10)

## Second approach (if you want to test it you have to re-run the notebook):
# In one step keep only the future orders from all customers: train & test 
#orders_future = orders.loc[((orders.eval_set=='train') | (orders.eval_set=='test')), ['user_id', 'eval_set', 'order_id'] ]
#orders_future.head(10)

## Third approach (if you want to test it you have to re-run the notebook):
# In one step exclude all the prior orders so to deal with the future orders from all customers
#orders_future = orders.loc[orders.eval_set!='prior', ['user_id', 'eval_set', 'order_id'] ]
#orders_future.head(10)

    user_id eval_set  order_id
10        1    train   1187899
25        2    train   1492625
38        3     test   2774568
44        4     test    329954
49        5    train   2196797
53        6     test   1528013
74        7    train    525192
78        8    train    880375
82        9    train   1094988
88       10    train   1822501

Now to fulfill step 3, we merge on **data** DataFrame the information for the last order of each customer. The matching key here is the user_id and we select a left join as we want to keep all the observations from **data** DataFrame.

<img src="https://i.imgur.com/m3pNVDW.jpg" width="400">

In [30]:
# bring the info of the future orders to data DF
data = data.merge(orders_future, on='user_id', how='left')
data.head(10)

   user_id  product_id    ...     eval_set  order_id
0        1         196    ...        train   1187899
1        1       10258    ...        train   1187899
2        1       10326    ...        train   1187899
3        1       12427    ...        train   1187899
4        1       13032    ...        train   1187899
5        1       13176    ...        train   1187899
6        1       14084    ...        train   1187899
7        1       17122    ...        train   1187899
8        1       25133    ...        train   1187899
9        1       26088    ...        train   1187899

[10 rows x 7 columns]

## 3.2 Prepare the train DataFrame üìöüìù
In order to prepare the train Dataset, which will be used to create our prediction model, we need to include also the response (Y) and thus have the following structure:

<img style="float: left;" src="https://i.imgur.com/PDu2vfR.jpg" >

Towards this end:
1. We keep only the customers who are labelled as "train" from the competition
2. For these customers we get from order_products_train the products that they have bought, in order to create the response variable (reordered:1 or 0)
3. We make all the required manipulations on that dataset and we remove the columns that are not predictors

So now we filter the **data** DataFrame so to keep only the train users:

In [31]:
#Keep only the customers who we know what they bought in their future order
data_train = data[data.eval_set=='train'] #
data_train.head()

   user_id  product_id    ...     eval_set  order_id
0        1         196    ...        train   1187899
1        1       10258    ...        train   1187899
2        1       10326    ...        train   1187899
3        1       12427    ...        train   1187899
4        1       13032    ...        train   1187899

[5 rows x 7 columns]

For these customers we get from order_products_train the products that they have bought. The matching keys are here two: the "product_id" & "order_id". A left join keeps all the observations from data_train DataFrame

<img src="https://i.imgur.com/kndys9d.jpg" width="400">

In [32]:
#Get from order_products_train all the products that the train users bought bought in their future order
data_train = data_train.merge(order_products_train[['product_id','order_id', 'reordered']], on=['product_id','order_id'], how='left' )
data_train.head(15)

    user_id  product_id  uxp_t_bought    ...     eval_set  order_id reordered
0         1         196            10    ...        train   1187899       1.0
1         1       10258             9    ...        train   1187899       1.0
2         1       10326             1    ...        train   1187899       NaN
3         1       12427            10    ...        train   1187899       NaN
4         1       13032             3    ...        train   1187899       1.0
5         1       13176             2    ...        train   1187899       NaN
6         1       14084             1    ...        train   1187899       NaN
7         1       17122             1    ...        train   1187899       NaN
8         1       25133             8    ...        train   1187899       1.0
9         1       26088             2    ...        train   1187899       1.0
10        1       26405             2    ...        train   1187899       1.0
11        1       30450             1    ...        train   1187899       NaN
12        1       35951             1    ...        train   1187899       NaN
13        1       38928             1    ...        train   1187899       1.0
14        1       39657             1    ...        train   1187899       1.0

[15 rows x 8 columns]

On the last columm (reordered) you can find out our response (y). 
There are combinations of User X Product which they were reordered (1) on last order where other were not (NaN value).

Now we manipulate the data_train DataFrame, to bring it into a structure for Machine Learning (X1,X2,....,Xn, y):
- Fill NaN values with value zero (regards reordered rows without value = 1)
- Set as index the column(s) that describe uniquely each row (in our case "user_id" & "product_id")
- Remove columns which are not predictors (in our case: 'eval_set','order_id')

In [33]:
#Where the previous merge, left a NaN value on reordered column means that the customers they haven't bought the product. We change the value on them to 0.
data_train['reordered'] = data_train['reordered'].fillna(0)
data_train.head(15)

    user_id  product_id  uxp_t_bought    ...     eval_set  order_id reordered
0         1         196            10    ...        train   1187899       1.0
1         1       10258             9    ...        train   1187899       1.0
2         1       10326             1    ...        train   1187899       0.0
3         1       12427            10    ...        train   1187899       0.0
4         1       13032             3    ...        train   1187899       1.0
5         1       13176             2    ...        train   1187899       0.0
6         1       14084             1    ...        train   1187899       0.0
7         1       17122             1    ...        train   1187899       0.0
8         1       25133             8    ...        train   1187899       1.0
9         1       26088             2    ...        train   1187899       1.0
10        1       26405             2    ...        train   1187899       1.0
11        1       30450             1    ...        train   1187899       0.0
12        1       35951             1    ...        train   1187899       0.0
13        1       38928             1    ...        train   1187899       1.0
14        1       39657             1    ...        train   1187899       1.0

[15 rows x 8 columns]

In [34]:
#We set user_id and product_id as the index of the DF
data_train = data_train.set_index(['user_id', 'product_id'])
data_train.head(15)

                    uxp_t_bought  user_t_orders    ...     order_id reordered
user_id product_id                                 ...
1       196                   10             10    ...      1187899       1.0
        10258                  9             10    ...      1187899       1.0
        10326                  1             10    ...      1187899       0.0
        12427                 10             10    ...      1187899       0.0
        13032                  3             10    ...      1187899       1.0
        13176                  2             10    ...      1187899       0.0
        14084                  1             10    ...      1187899       0.0
        17122                  1             10    ...      1187899       0.0
        25133                  8             10    ...      1187899       1.0
        26088                  2             10    ...      1187899       1.0
        26405                  2             10    ...      1187899       1.0
        30450                  1             10    ...      1187899       0.0
        35951                  1             10    ...      1187899       0.0
        38928                  1             10    ...      1187899       1.0
        39657                  1             10    ...      1187899       1.0

[15 rows x 6 columns]

In [35]:
#We remove all non-predictor variables
data_train = data_train.drop(['eval_set', 'order_id'], axis=1)
data_train.head(15)

                    uxp_t_bought    ...      reordered
user_id product_id                  ...
1       196                   10    ...            1.0
        10258                  9    ...            1.0
        10326                  1    ...            0.0
        12427                 10    ...            0.0
        13032                  3    ...            1.0
        13176                  2    ...            0.0
        14084                  1    ...            0.0
        17122                  1    ...            0.0
        25133                  8    ...            1.0
        26088                  2    ...            1.0
        26405                  2    ...            1.0
        30450                  1    ...            0.0
        35951                  1    ...            0.0
        38928                  1    ...            1.0
        39657                  1    ...            1.0

[15 rows x 4 columns]

## 3.3 Prepare the test DataFrame üìöüìù
The test DataFrame must have the same structure as the train DataFrame, excluding the "reordered" column (as it is the label that we want to predict).
<img style="float: left;" src="https://i.imgur.com/lLJ7wpA.jpg" >

 To achieve this we:
- Keep only the customers who are labelled as test
- Set as index the column(s) that uniquely describe each row (in our case "user_id" & "product_id")
- Remove the columns that are predictors (in our case:'eval_set', 'order_id')

In [36]:
#Keep only the future orders from customers who are labelled as test
data_test = data[data.eval_set=='test'] #
data_test.head()

     user_id  product_id    ...     eval_set  order_id
120        3         248    ...         test   2774568
121        3        1005    ...         test   2774568
122        3        1819    ...         test   2774568
123        3        7503    ...         test   2774568
124        3        8021    ...         test   2774568

[5 rows x 7 columns]

In [37]:
#We set user_id and product_id as the index of the DF
data_test = data_test.set_index(['user_id', 'product_id']) #
data_test.head()

                    uxp_t_bought  user_t_orders   ...     eval_set order_id
user_id product_id                                ...
3       248                    1             12   ...         test  2774568
        1005                   1             12   ...         test  2774568
        1819                   3             12   ...         test  2774568
        7503                   1             12   ...         test  2774568
        8021                   1             12   ...         test  2774568

[5 rows x 5 columns]

In [38]:
#We remove all non-predictor variables
data_test = data_test.drop(['eval_set','order_id'], axis=1)
#Check if the data_test DF, has the same number of columns as the data_train DF, excluding the response variable
data_test.head()

                    uxp_t_bought       ...         prd_t_purchases
user_id product_id                     ...
3       248                    1       ...                    6371
        1005                   1       ...                     463
        1819                   3       ...                    2424
        7503                   1       ...                   12474
        8021                   1       ...                   27864

[5 rows x 3 columns]

# 4. Create predictive model (fit)
The Machine Learning model that we are going to create is based on the Logistic Regression Algorithm.

From Scikit-learn package we import the LogisticRegression estimator.

To create the predictive model we:
1. We create a DataFrame with all the predictors, named **X_train** and a Series with the response, named **y_train**
2. We initiata a Logistic regression model with a specific random_state (so we can reproduce if we want to our model).
3. Finally we train our model with the X_train and y_train data.

In [39]:
########################
#IMPORT REQUIRED PACKAGES
#######################
from sklearn.linear_model import LogisticRegression
#from sklearn.model_selection import train_test_split #validate algorithm
#from sklearn.metrics import accuracy_score, classification_report, confusion_matrix  #validate algorithm

#####################
#CREATE X_train, y_train
#####################
X_train, y_train = data_train.drop('reordered', axis=1), data_train.reordered
#X_train, X_val, y_train, y_val = train_test_split(data_train.drop('reordered', axis=1), data_train.reordered, test_size=0.8, random_state=42)
  #validate algorithm

#####################
# INITIATE AND TRAIN MODEL
#####################
log = LogisticRegression(random_state=42)
model = log.fit(X_train, y_train)

#####################
# SCORE MODEL
#####################
#log.score(X_val, y_val) # validate algorithm

#####################
## DELETE TEMPORARY OBJECTS 
#####################
del [X_train, y_train]
# del [X_val, y_val] # remove validate algorithm objects
gc.collect()

### TO REMOVE THE FUTURE WARNING THAT YOU SEE BELOW: Add the argument solver='lbfgs' to LogisticRegression( ) function

/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

7

# 5. Apply predictive model (predict)
The model that we have created is stored in the **model** object.
At this step we predict the values for the test data and we store them in a new column in the same DataFrame.

In [40]:
# Predict values for test data with our model from chapter 5 - the results are saved as a Python array
test_pred = model.predict(data_test).astype(int)
test_pred[0:20] #display the first 20 predictions of the numpy array

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [41]:
## OR set a custom threshold (in this problem, 0.21 yields the best prediction)
test_pred = (model.predict_proba(data_test)[:,1] >= 0.21).astype(int)
test_pred[0:20] #display the first 20 predictions of the numpy array

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0])

In [42]:
#Save the prediction in a new column in the data_test DF
data_test['prediction'] = test_pred
data_test.head()

                    uxp_t_bought     ...      prediction
user_id product_id                   ...
3       248                    1     ...               0
        1005                   1     ...               0
        1819                   3     ...               0
        7503                   1     ...               0
        8021                   1     ...               0

[5 rows x 4 columns]

In [43]:
#Reset the index
final = data_test.reset_index()
#Keep only the required columns to create our submission file (Chapter 6)
final = final[['product_id', 'user_id', 'prediction']]

gc.collect()
final.head()

   product_id  user_id  prediction
0         248        3           0
1        1005        3           0
2        1819        3           0
3        7503        3           0
4        8021        3           0

# 6. Creation of Submission File
To submit our prediction to Instacart competition we have to get for each user_id (test users) their last order_id. The final submission file should have the test order numbers and the products that we predict that are going to be bought.

To create this file we retrieve from orders DataFrame all the test orders with their matching user_id:

In [44]:
orders_test = orders.loc[orders.eval_set=='test',("user_id", "order_id") ]
orders_test.head()

     user_id  order_id
38         3   2774568
44         4    329954
53         6   1528013
96        11   1376945
102       12   1356845

We merge it with our predictions (from chapter 5) using a left join:
<img src="https://i.imgur.com/KJubu0v.jpg" width="400">

In [45]:
final = final.merge(orders_test, on='user_id', how='left')
final.head()

   product_id  user_id  prediction  order_id
0         248        3           0   2774568
1        1005        3           0   2774568
2        1819        3           0   2774568
3        7503        3           0   2774568
4        8021        3           0   2774568

And we move on with two final manipulations:
- remove any undesired column (in our case user_id)
- set product_id column as integer (mandatory action to proceed to the next step)

In [46]:
#remove user_id column
final = final.drop('user_id', axis=1)
#convert product_id as integer
final['product_id'] = final.product_id.astype(int)

#Remove all unnecessary objects
del orders
del orders_test
gc.collect()

final.head()

   product_id  prediction  order_id
0         248           0   2774568
1        1005           0   2774568
2        1819           0   2774568
3        7503           0   2774568
4        8021           0   2774568

In this step we initiate an empty dictionary. In this dictionary we will place as index the order_id and as values all the products that the order will have. If none product will be purchased, we have explicitly to place the string "None". All this syntax follows the requirements of the competition for the submission file.

In [47]:
d = dict()
for row in final.itertuples():
    if row.prediction== 1:
        try:
            d[row.order_id] += ' ' + str(row.product_id)
        except:
            d[row.order_id] = str(row.product_id)

for order in final.order_id:
    if order not in d:
        d[order] = 'None'
        
gc.collect()

#We now check how the dictionary were populated (open hidden output)
d

{2774568: '21903 39190 47766',
 1528013: '21903',
 1376945: '8309 13176 27959',
 1356845: '13176',
 2161313: '10441 11266 12427 14715 27839 37710',
 1416320: '5134 21137 21903 24852 41950',
 1735923: '17008 35123',
 1980631: '9387 13575',
 139655: '13176 21903 22935 27845',
 1192143: '24852',
 3202221: '21137 24852',
 707453: '4942 21137 21903 24852 32030 39275 44142 47766 48230',
 1320132: '11079',
 882556: '5450 7371 9076 21903 24852 25890 28204 30962 48679',
 2431024: '5450 5699 6975 13176 24799 24852 27555 34217 39928',
 2174416: '13176',
 1325316: '26165',
 320326: '24852 42828',
 1099519: '13176 22035 26351 28058',
 3024191: '21137',
 2817181: '18828',
 2883656: '24852',
 1970262: '4562 12872 13176 21267 21903 22451 24964 27105 28058 29071',
 2681168: '11777 22151 24852',
 1345233: '13176 21137 21903 24852',
 2412507: '21137',
 139487: '196 6184 13176 21386',
 3302990: '21137 24852',
 1189294: '13176 21137 24852 26317 27966',
 1368861: '1940 5445 14335 24852',
 1626588: '14365 31808',
 36863: '13176 21137 22935 24964 27521 45007',
 969538: '8030 13643 23319 30120 38461 41651',
 688716: '13176 47209',
 1058680: '470 4210 16890 23665 24852 30356 32165 32768 43872 44106 44570 46735',
 831748: '5782 40174',
 2710859: '21903 24852 47766',
 1500625: '1674 8769 26700 29646 34300 40332',
 726111: '13176 21137 47766',
 2567075: '6692 12381 18727 26384 30489 31481 34217',
 1855063: '13176 17794 27845',
 2588536: '2825 5612 10831 21137 23986 24852 26790 33572 47521 49111',
 1658650: '1890 5612 14992 19057 21903 24852 28289 39928 40706 44359 44910 45007 47626 47766',
 36740: '2010 3176 7393 10374 13841 25495 25976 27726 29805 35199 36058 36126',
 3052059: '24852',
 2943466: '3957 5258 21137 24852',
 1920100: '2748 13176 47209 49235',
 2993890: '13176 21137',
 1172828: '13176',
 2691733: '41658',
 2769561: '13176 18434 21137 21227 22963 24852 24964 27104 38383 40706 41950 42585 45007 47209',
 2029462: '8424 17794 38453',
 1817659: '3957 4472 24852 25659 25666 26128 28934 34304 35121',
 569815: '24852',
 2517930: '16291 24852 35221 49683',
 2378064: '24852 49683',
 169451: '13176',
 2986791: '2966 13176 17526 21903 21914 47717',
 1239084: '5141 10768 12469 13166 13176 17758 21137 22935 23044 23233 24852 30391 32655 33527 49235',
 3191854: '21137',
 1132910: '1194 4138 21704 23265 24852 27086 27744 28204 28476 28740 28906 30233 37330 38948 41290 42701 42750 47766',
 2088686: '5380 5479 26128 27531 29837 30489 31553 39877 39928 40311 46802',
 3358588: '4210 19348 22959 24852 27730',
 1283403: '8174 13176 21137 35951 40604 44229 47209',
 2098786: '13176',
 795256: '3376 6649 8193 8859 9839 10385 18234 22418 23288 28985 30489 45007 48364',
 2399184: '77 4781 4920 9122 10385 11710 18370 19819 21137 22993 23516 24852 26317 28199 32139 33043 38275 40310 47229 48112 49235',
 862070: '5612 11136 17352 20655 24852 46229',
 313331: '19660',
 1653971: '24852',
 3161938: '24852',
 2318705: '20995 21367 27881 30391 35547 47209',
 1882331: '24852 27579',
 2686576: '9387 24852',
 1141566: '4920 24852',
 3069370: '13176 27845',
 2969880: '21903',
 2726815: '24852',
 1862801: '13176 17454 24852 27845 35951 49235 49683',
 865014: '11361 24184',
 2572142: '16797 24852',
 1579044: '21903 24852 34358 47626 49683',
 346816: '3873',
 3116687: '3061 16096 23405 25810 25860 26882 28577 30251 31981 34355 35759 39979 42895 43409 43511 43967 46541 47540',
 158824: '4317 4591 15124 19660 26209 46416 46844',
 2306683: '28476',
 939128: '13176 24852 46906',
 1242621: '40236',
 82598: '13176 21137',
 61423: '651 6184 8057 18023',
 1105633: '21137 24852 28204',
 930307: '24852',
 588332: '6656 19875 21137 24852',
 2964001: '14233',
 1971668: '13176 19660',
 1452849: '5876 13984 21137 21903 26209 30391 43295 44359 46667 47209',
 2242945: '8412 16589 22035 27845 29487 40706 46969 49075',
 465851: '24852 40910 45948',
 1080218: '24852',
 632748: '28080',
 143045: '8277 11100 13176 21137 21903 39275 43654',
 2481483: '19660',
 1979817: '5876',
 2193705: '6087 6184 8048 12341 21903 39275 40120 40742',
 1160743: '13176 21903',
 239545: '21137 21903 27966',
 729099: '21137',
 906822: '4920 8571',
 887842: '13176 20995 21295 24082 25720 33120 45763',
 1185710: '9839 19508 21137 21903 22935 24852 24964 27845',
 1237726: '24852 26209',
 572050: '31846',
 1753574: '10385 13176 19348 21137 22935 24184 24852 25890 27845 42606 47766',
 442242: '7521 25718',
 3376600: '13176 19678 21903 22935 24852 27966 33754 42265 47209',
 2557552: '21903 24852',
 2391680: '13176 21903 21938 26369 38689 45007',
 2196307: '44632 47943',
 198531: '24852',
 1281623: '8277 24852',
 1309059: '21903 24852 47766',
 654116: '6829 7607 16797 22242 23296 25146 32047 36011 44156 45825 48004 49191',
 2761369: '13176 22935 27061 28378 33572 35921 47209',
 1918388: '14084 25931 33120 42265',
 3073553: '2063 4210 21137 24852 33768',
 1266894: '19761',
 2185735: '1463 3957 12807 21174 34243 37022 47209 47492 49241',
 1676841: '49235',
 1088553: '21137 27845',
 65467: '13176 24852 35140',
 3407461: '24852 43154',
 2372519: '21137',
 2247264: '24852 41549',
 2651333: '1321 28985 40174',
 2730481: '4920 7916 14947 19057 21903 30391 47766',
 1032696: '4957 9755 24852 46676 47626 47766',
 3355968: '13176 43295',
 1945605: '5785 8021 12576 16262 21709 27086 35221 42828 44292 44632 47144',
 2519594: '2748 13083 13176 14874 16953 21137 33731 39570 41844 43643 45066 45504 45965 46381 47209',
 1493300: '8277 13113 13176 24852',
 476412: '5450 24852 32153 49683',
 2151106: '13176 21137',
 293692: '27548 34050',
 836275: '16816 24852 37017',
 1956871: '3999 4443 5101 13921 23719 28204 36214',
 3387692: '13176 18670 21162 24221 27845',
 543041: '24852 26497',
 1490499: '11140 24852 47626',
 2055323: '13176',
 1324947: '13176 21137 27966',
 891657: '9337 12953 13176 28476 35921 43484 46313 47388',
 1241495: '9018 13176 21137 25837 36082 39589 45948',
 1545001: '24852 27966 30233 36929',
 1267591: '4920 24852',
 606811: '1940 10125 18465 19354 21137 21903 24852 36717',
 1901134: '24852 30003 49381',
 1461409: '21137',
 1036348: '13176 24852 47209',
 1803743: '24852 43631',
 3259141: '13176',
 2377342: '24852',
 2080645: '1940 13176 41290 47329',
 599014: '20114 26384 47626',
 587740: '47965',
 877079: '24852',
 1887969: '24852',
 3100473: '2078 5876 10749 13083 19820 21137 22935 34126 34458 36724 39984 44359 47209 48679',
 123641: '24852 26604',
 2104476: '8277 18370 21903 24852 27845 30391 45007 47766 48679',
 3025259: '21903',
 203528: '10831 11710 13176 18465 19934 21137 21903 27966 39928 43768 45007 45504 47766',
 1094091: '21137 34050 39527',
 764108: '13176',
 1386850: '21616 22959 24125 30391 32134 32655 43789 48988',
 458905: '21137',
 728126: '2229 5535 24852 30117 35914',
 1886032: '13176 21903',
 630214: '24852',
 1533834: '24852 25108',
 1470781: '27966',
 2360269: '2962 4879 13834 27086 36126 39581 45761 49141',
 1237146: '24852 49235 49683',
 2535468: '6184 12341 13176 14979 25653',
 1619858: '47626',
 162228: '4920 13176',
 160588: '13176 34668',
 2914973: '13176 24852 43352 46979 47626',
 153911: '605 11984 20598 30035 43400 44471 44910',
 1530394: '432 5077 10199 13176 21137 22035 29370 39527 42828 47209',
 1788231: '1194 2091 6182 11937 17183 21417 22151 22959 23543 24852 26209 28204 35522 37197 40198 45007 46820 47626',
 2866997: '21137 23986 24852 27000',
 1629029: '9421 13176 17948 21903',
 1158445: '3583 8903 21903 24583 24852 36522 47626',
 1261211: '13176 17224 21137',
 2976551: '35547',
 524582: '27845 49683',
 2742254: '21137 24852 47747',
 39629: '11576 13176',
 2496659: '10032 12218 12782 13375 17122 19389 20995 23037 24852 26456 40376 40621 45588',
 2676901: '15134 18564 34230 37886',
 1078531: '13176 22935',
 2278368: '13176 21137 37646 39190',
 695415: '14947 20119 35221 36011 44632',
 2904666: '13176 19660 21938 26209 30391 30489 41950 47209 47766',
 1497682: '24852',
 1726557: '12341 16797',
 178418: '5785 21137 22935 24852 27966',
 391588: '6489 11933 13176 13249 19057 27845 33120 41593',
 1055153: '4920 24852 25890 28204 40174 41844',
 1170109: '16558 30639',
 2471966: '23909 46844 47626 48657',
 1994195: '21903 24852 28465 36011',
 2513235: '24852',
 1624388: '21137',
 3020209: '13176 21137',
 3255859: '24964 29326 47766',
 2005070: '1199 6948 13176 21903 27845 48775',
 1237487: '27690',
 2688906: '1516 4597 5876 13176 22935 24964 27104 30489 45007 47209',
 1750505: '24852',
 2318244: '13176 21903',
 242483: '24838 24852 45570',
 2278226: '21137',
 1272828: '16797 24852 38817',
 362619: '39046',
 1168266: '1940',
 141543: '9175 45154',
 3183367: '24489 44422',
 1797124: '196 22802',
 89381: '13176',
 1423050: '24838 39276 42443 43295',
 1249392: '13176 21137 29447 35221 47766',
 3311636: '5876 47209',
 439205: '24852',
 420520: '24852',
 2754200: '24852 28204 31981 39982',
 2558743: '94 5785 10199 13176 16847 19611 21137 26278 27966 28476 28785 37349 43295 43738',
 1287397: '24852',
 1519990: '24852',
 1671355: '21903 24852 25837 37646 39928 46676 47209',
 2791256: '19348 21137 21903 24799 24852 40310 47209',
 2520517: '8571 32689',
 1930805: '13176',
 1502827: '27845 49235',
 1054066: '24852',
 109911: '21137 21903 24852 24964 28985 43961 47626 47766 49683',
 934581: '5479 22935 26209',
 311086: '7393 8501 24852 29447',
 2997340: '7156 22959 24184 24852 47766',
 216270: '11352 13176 17794 21137 22035 24024 29370 34448 39928 42450 43643 47209',
 889691: '13646 21137',
 2676926: '1313 20114 47209 47626 47766',
 1146075: '5785 32655',
 3168076: '13176 21903 24852 28158 39275 44949',
 2316252: '21573',
 1199748: '44570 47626 47766',
 2572651: '21137',
 2864780: '21903 24852',
 2101491: '3464 6348 6532 8277 8518 10749 13560 16363 21938 24852 26209 36695 42265 47766',
 2308945: '24852 28985 34050 47626',
 551385: '21903 22959 24852 49683',
 2065552: '2120 3990 13176 14348 14999 18019 20019 20114 22309 28092 35003 39491 40586 44533',
 2619795: '432 8744 9387 20378 22186 22695 24852 37072 47766 48205 49098',
 2869963: '21903',
 221995: '18443 21903',
 2364225: '4605 24852',
 1409336: '651 3880 13176 21137 26209 27548 27845 29370 31073 40199 40593 41220 44359 47766 47788',
 2985179: '13176 35951',
 2510588: '13176 27695 36929 46990',
 406182: '1843 8800 10032 33614 47226',
 3359540: '16797',
 1382149: '13176',
 172394: '13176 21137 47766',
 1017522: '13176 21903 40604 44632',
 1389899: '17080 47626',
 383770: '5484 7681 48559',
 1344043: '8736 11945 16398 23565 26576 31634 38205',
 2172762: '1689 10673 20378 25466',
 1635368: '4210 13176 21137 44201',
 624714: '2639 44536',
 3102231: '13176 24852',
 3070543: '2014 3855 9534 11440 13176 22312 27845 28597 32717 38274 41242 45633 47616 48720',
 1378259: '3431 7533 9623 13176 24852 33791 42834',
 951592: '5385 34111',
 2270224: '24852 33351',
 3235117: '22035 36117',
 1248981: '11140 24279 24852 31215',
 1516872: '24852 47626 47766',
 533523: '1940 7781 13176 31960 44980 47570 49235',
 20345: '3957 5785 6568 11520 12456 13176 15290 15399 21137 24852 25832 26909 27344 27548 27966 36406 39408 42265 45066 47209',
 2771992: '28199 33894',
 3118092: '3245 5114 5825 6218 16759 17794 21137 26209 26746 26940 31717 34126 38383 39275 39877 40706 41065 41259 43768 44683 45007 46667 47766',
 1242668: '18071 24852',
 352630: '1203 13176 19660 21903 27521 32566',
 2072510: '5450 24852',
 1237738: '15424 30569 39581 47367',
 121516: '24852',
 1523498: '21333 24852',
 2239739: '27845 47766',
 1970457: '4210 8087 13176 21267 23044 24852 35628 42265 46584 47209',
 2525507: '13176 21137 22935 24852 47209',
 2786948: '24852',
 3032161: '2038 15383 22952 33827 39108',
 2788023: '13176 24852',
 1392421: '21288',
 2491706: '16797 24852',
 2572782: '47626',
 23500: '13176',
 2262783: '21903',
 1052165: '9047 14578 25487 44359 47890 49683',
 2544926: '13966',
 527075: '21115 24852 27730 43409 44562 45066',
 2933690: '4410 5130 39275 41950 47144 47766',
 1295088: '5450 24852 47209',
 1205372: '24852',
 2634958: '21137 21903 24852 39877 40656 44098 47209',
 3381268: '9554 11865 13031 19125 24852 26032 38689 40380',
 1601439: '8424 13176 14992 15153 28601 37687 49683',
 3419249: '5876 11408 13176 16797 22935 37646 39589 43789 47209',
 972886: '5876 13176',
 3288057: '24852 42736 44799 44987',
 2802507: '21242',
 1440533: '13176 21137 26317',
 2061262: '13176 28594 32747 39605 41315 45570',
 1860851: '24852 39877',
 1294240: '196 13176 16797',
 2485297: '24852',
 615968: '13176',
 714005: '1582 5976 24852 25861 37374',
 507309: '43044 46188',
 539759: '17316 24852',
 1562811: '24852',
 2346992: '21903 24852',
 825152: '1940 2356 3169 5069 7028 8026 13176 14863 17600 21137 24037 24852 27239 28204 42265 45066',
 797320: '13176 21903 39877 42768 49224',
 2117678: '24852',
 644486: '1194 13176 24852 47766',
 1166076: '21903',
 1660241: '21137 24852 26209 28008 47766',
 2578885: '21137 49621',
 2719212: '1360 4297 20876 24852 32828 47766 49075',
 2897298: '13176 47977 48845',
 737811: '24852',
 3377875: '21903 24852',
 2003451: '34898',
 1242569: '13176 21137',
 708051: '24852 24964 28156',
 979711: '20015 45007',
 115809: '23106 38241 42450',
 330006: '13176 16387 42612',
 1003428: '19660',
 796276: '24852',
 2134549: '1682 34483',
 173060: '21137 24852',
 1417318: '10768 17027 30639',
 1094757: '3990 5083 7738 9225 13176 18987 24852 27966 28427 28931 28993',
 1023763: '22028',
 556998: '5794 13176 18432 37354 39275 43352 43772 46847',
 1654614: '4451 9839 10749 18926 19057 21903 22935 24852 27845 27966 28985 36397 38190 46087 47626 47766',
 348608: '9076 12863 23909 29487 34487',
 3263101: '6492 11386 13805 14084 19180 20580 24373 24799 26131 27845 28465 47912',
 472089: '7485 21903 24852 38383 47766',
 1477795: '21903 39877 47209 49683',
 1837509: '2604 25753',
 687724: '16797 24852 26209',
 1257586: '13176 21903 38689 47209',
 2446481: '24852',
 1964277: '3896 13176 21137 25747 29126 35503 35921 37646 38689 40706',
 3354422: '19660',
 3299383: '432 12107 20574 21903 38293 42265 45007 49683',
 18113: '40332 47766',
 422051: '13176 47209',
 3380822: '14233 29799',
 825986: '16797',
 1334507: '5077 15860 21903 23204 26924 27102 30183 31091 31216 31683 37940 43263 47766',
 2857490: '13176 21137 21903',
 912310: '24852',
 307143: '8277 13176 18027 20754 21137 25931 27730 28985 43122 44359 49683',
 2343550: '4942 21903 24852',
 977808: '2763 4210 21903 44632',
 2298851: '4698 15902 26209 45603 46676 48559',
 1377070: '7131 20809 22963 29307 44683 47626',
 1138234: '389 9810 17154 26839 38849 48246',
 1067908: '6111 24852',
 235789: '5258 9535',
 3112593: '23909 37215',
 3261182: '22935',
 3302795: '21137',
 544889: '7412 24852 27086 35221 39993',
 14817: '5918 26587 36591',
 995122: '4428 24852',
 2999536: '5337 13176 17207 33768',
 1151839: '403 24852 25204',
 1103486: '13176 23102',
 412133: '13176 24852 35504',
 1898121: '13914 21292 26088 32455 40199 45004 49235',
 3063004: '6184 12341 13176 15541 16974',
 1703133: '6774 12846 19125 21903 24852 46720',
 3061961: '44152',
 3339861: '11688 24852',
 1269779: '13176',
 1073265: '7021 14084 18027 24810 24852 24964 26209 27845 27966 28934 47626 48679',
 2546776: '13176',
 2991602: '21137 45066',
 3221782: '1689 21330 23341 23785 25363 32605 35042 36259 40338 44142 46201 46979',
 1011297: '22935',
 1520586: '4781 13176 21137 27104 39275',
 3377720: '13176',
 913397: '21137 24852',
 1301634: '13176 21903 27845 32864 49235',
 781578: '21137 21903',
 526421: '22035 22089 24852 25890 47766',
 40070: '13176 22298 27845 35887',
 1122524: '196 43744 49235',
 3307750: '24852',
 3072395: '47626 47766',
 1448063: '5161 6238 13176 21137 24852 45066 47766',
 1304479: '28849 30450 32665 37724',
 583891: '21903 24852',
 1560567: '9175 25493',
 2477100: '5876 8174 13045 13176 15081 15462 16396 21137 21174 22935 23165 24964 27142 29310 29871 30614 34065 35530 36070 38383 43122 45007 46720 47209 49175',
 2962049: '49683',
 1919322: '5876',
 2509434: '3457 13176 24852 25931 36865 44910 47209',
 3246106: '16797 22935 24184 24852 47766',
 1887165: '18253',
 2733997: '196 20518 27012 32689',
 1969261: '26914 38689',
 3212682: '21903 24852 28204 47626 49683',
 1412630: '22888',
 2534805: '9189 13176 16797 18838 32455 37687 43352',
 263089: '9387 14999 15290 24852 41950 43565 49610',
 3358926: '21616 21903 47626',
 233795: '24852',
 747352: '21288 25588 43352',
 2785463: '196 5258 11759 37710',
 1516308: '24852',
 2481125: '10089 33198',
 1505169: '13646 17706 21614 22035 24852 25890 39180 40706',
 2214673: '1379 24561 24985 28553 42495 45009 45954',
 341508: '24852 26348',
 2875779: '13176 24852',
 1937241: '21903',
 3111365: '10246 19660 35503 35921 37067 40706 49683',
 489189: '2051 4920 8193 9076 24852 28745 33467 33674 34134 35548 37646 42564 47167 47616 47766 47866',
 792330: '13176',
 1711925: '21903 27730 27845 39928 46969 48058',
 967626: '2298 7781 21137 24852 30391 36127 37158',
 1284059: '1402 16398 21841 24852 45603 47209 48559',
 1841472: '13176 38750',
 1563765: '8518 13409 15290 16185 21903 24852 26209 43662 47626 47766',
 3309393: '651 6104 6347 12395 18531 19057 27845 33731',
 1068037: '10580 24852',
 1613532: '13176',
 211267: '4210 5491 7021 7781 9339 10096 13338 18465 19057 21267 24852 25715 30192 35951 37524 44632 45007 47626 47766 48679 49044',
 3052173: '9076 14161 21137 21288 39275 43352',
 2581727: '5876 21903 24852 30391',
 1556549: '13176',
 987145: '47209',
 1844839: '21903 24852 30776 38837 47626',
 2700123: '13176 21137 21903 27845 36036 45570',
 848283: '13176',
 519140: '24852 31981 39275',
 635541: '21137 24852 27086',
 2863172: '24852',
 3062074: '13176',
 192719: '24347 24852',
 1376351: '13176',
 1370372: '8073 8501',
 1676258: '18465 21137',
 656396: '6740 9339 12341 16908 21903 22220 24852 26940 32655 38067 39040 44632 45007 46584',
 2726684: '24852',
 3123103: '4562 16797 24852',
 8363: '8927 13176 24964 26209 32828 42265 42585 46260 47209',
 1778015: '4600 9595 24852 27845 36011',
 1987854: '13176 17191 17638 21267 24852 25199 32740 40396 45066',
 2514756: '24852',
 766247: '13176 21137 21903 24852 27966',
 395026: '35221',
 827625: '4790 14141 21137 27845 48835',
 888027: '6184 10509 13176 14444',
 3318056: '13176 18362 38164 42445',
 1949086: '13176 21903 47209',
 2130996: '21137 24852',
 2876773: '12315 14074 24852 30742',
 1823382: '21903 24852',
 2386746: '3473 6366 22666',
 2924862: '30489 34230 44632',
 681913: '4605 19660 20876 24852',
 1484897: '24852 34050 47626',
 1355695: '7781 14240 21137 24852 28204 39363 40469 46906 48186',
 2327501: '21903 24852',
 2615195: '4366 15290 39475 40174',
 2375456: '13176 24852',
 3341925: '21137',
 630145: '13176 15772 16974 21986',
 2662615: '24852',
 503085: '4799 21709 25837 43324',
 1828558: '8571 16797 43352',
 3062610: '21137',
 2265504: '34 264 4565 4985 7177 15780 20119 20269 21376 21709 24852 27730 31334 32579 35221 37646 43279 43814 44632 47585 47866',
 2756799: '13176',
 850065: '9390 11440 17652 20764 21903 23537 23794 24235 26209 28553 35108 41787 43961 46802 47626 49131',
 881345: '21137 24852 27966 45066 47766',
 1222202: '4366 5876 16797 21903 24852 27966 28071 28745 28851 29447 32170 36865',
 1194995: '21903',
 1516882: '6927 8138 13176 28420 42342',
 3419574: '35527',
 1658737: '5785 5876 13984 17948 20842 21903 24125 24184 27750 27966 38647 41338 47209',
 820449: '9839 21903',
 297131: '21903',
 1176648: '13575 26604 33081 43352',
 1080612: '21903 39475',
 1061897: '43967',
 532252: '196',
 1242386: '5876 13176 47766',
 678235: '1688 47329',
 308264: '5785 7350 12745 13176 18232 18523 19816 21137 21903 22825 26209 27966 30561 31720 31927 32655 39475 43961 44560 46979 47209 49111',
 1098337: '4472 4920 29117 40063 47621',
 1472331: '24852 47626',
 1678375: '13176 21137',
 104318: '21137 24852',
 2392155: '11894 24852',
 1531618: '4193 5456 9020 9623 21938 24852 26209 27845 28985 31717 33956 34969',
 1362848: '24852',
 2662608: '23909 42943',
 1191837: '3376 13176 27845 48364',
 3022429: '24852 28985 43662 47626',
 8188: '13176 21903 24184 33000 45007',
 1587523: '20039 31915',

Now we convert the dictionary to a DataFrame and prepare it to extact it into a .csv file

In [48]:
#Convert the dictionary into a DataFrame
sub = pd.DataFrame.from_dict(d, orient='index')

#Reset index
sub.reset_index(inplace=True)
#Set column names
sub.columns = ['order_id', 'products']

sub.head()

   order_id                             products
0   2774568                    21903 39190 47766
1   1528013                                21903
2   1376945                     8309 13176 27959
3   1356845                                13176
4   2161313  10441 11266 12427 14715 27839 37710

**The submission file should have 75.000 predictions to be submitted in the competition**

In [49]:
#Check if sub file has 75000 predictions
sub.shape[0]

75000

The DataFrame can now be converted to .csv file. Pandas can export a DataFrame to a .csv file with the .to_csv( ) function.

In [50]:
sub.to_csv('sub.csv', index=False)

# 7. Get F1 Score

Before you are ready to submit your prediction to the competion, **ensure that**:
- **You have used all of the offered data and not the 10% that was defined as an optional step on section 1.2**

To submit your prediction and get the F1 score you have to:
1. Commit this notebook and wait for the results 
2. Go to view mode (where you see your notebook but you can't edit it)
3. Click on the data section from your left panel
4. Find the sub.csv (on outputs), below the section with the data from Instacart
5. Click on "Submit to competition" button

Regarding step 1:
>This step might take long. If it exceeds 20-30 minutes it would be wise to check your code again. Kaggle won't inform you during commit if the notebook has:
- syntax errors
- if it exceeds 16 GB RAM
- if it takes an algorirthms too much to train or predict

>Any new commit:
- can't take more than 9 hours
- doesn't stop if it exceeds the 16 GB RAM - you will just receive an error of unsuccesful commit after 9 hours